# MacOS
**/.DS_Store

# Results
results-*
Records/

subjects/**/error_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]=[0-9][0-9]=[0-9][0-9]
subjects/**/stats_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]=[0-9][0-9]=[0-9][0-9]
subjects/**/status
